// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@import "../abstracts/variables";

.btn {
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  width: 180px;
  text-align: center;
  padding: 8px 24px;
  outline: none;

  &:hover,
  &:focus {
    box-shadow: $x-large-shadow;
    -webkit-box-shadow: $x-large-shadow;
  }
}

.btn-primary {
  background-color: $jungle-green;
  box-shadow: $medium-shadow;
  color: $white;
  border: none;

  &:focus,
  &:hover {
    background-color: #21aa6f;
  }

  &:disabled,
  & button[disabled] {
    cursor: auto;
    background-color: $silver;
    border: 1px solid #cecece;
  }
}

.btn-outline {
  background-color: $white;
  border: 1px solid $jungle-green;
  color: $jungle-green;
  box-shadow: none !important;

  &:focus,
  &:hover {
    background-color: $white;
    border: 1px solid #21aa6f;
    color: #21aa6f;
  }

  &:disabled,
  & button[disabled] {
    cursor: auto;
    background-color: $white;
    border: 1px solid #cecece;
    color: $silver;
  }
}

.btn-border-none {
  border: none;
  background-color: transparent;

  &:focus,
  &:hover {
    border: none;
  }
}

.btn-default {
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  border: none;
  color: $dusty-gray;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;

  &:focus {
    background-color: $white;
  }
  &:hover,
  &:focus {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1) !important;
  }
}

.btn-info {
  background-color: $java;
  border: none;
  box-shadow: $small-shadow;
  -webkit-box-shadow: $small-shadow;

  .icon {
    height: 16px;
    width: 16px;
  }
}

.btn-destructive {
  background-color: $white;
  border: 1px solid $wuzzy-brown;
  color: $wuzzy-brown;

  &:focus,
  &:hover {
    background-color: $white;
  }
}

.btn-link {
  border: none;
  background-color: $white;
  color: $jungle-green;

  &:hover {
    color: $java;
    font-weight: 600;
  }

  &:focus {
    background-color: $white;
    color: $niagara;
    font-weight: 600;
  }
}

// SIZE

.btn-small {
  font-size: 12px !important;
  height: 32px !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  box-shadow: $small-shadow !important;
}

.btn-large {
  font-size: 18px !important;
  height: 48px !important;
  box-shadow: $large-shadow !important;
}

.btn-tight {
  min-width: 88px;
  box-shadow: $small-shadow !important;
}

// CONTENT

.btn-icon {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

// FIGURE
.btn-square {
  @include btn-figure;
  height: 144px;
  padding-bottom: 24px;
  padding-top: 24px;
  width: 152px;

  .image {
    max-height: 72px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.btn-square-small {
  @include btn-figure;
  height: 32px !important;

  width: 32px !important;
}

.btn-rectangle {
  @include btn-figure;

  height: 144px;
  padding-bottom: 24px;
  padding-top: 24px;
  width: 390px;
}
