// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@import "../abstracts/variables";

// BASE

.btn,
.epyc-btn {
  background-color: transparent;
  border-radius: 4px;
  color: $dusty-gray;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  height: 48px;
  margin: 8px;
  min-width: 88px;
  text-align: center;
  padding: 0px 32px;
  outline: none;
  width: fit-content;

  &:hover,
  &:focus {
    box-shadow: $x-large-shadow;
    -webkit-box-shadow: $x-large-shadow;
  }

  &:disabled,
  & button[disabled],
  &.disabled {
    cursor: auto !important;
    pointer-events: none !important;
  }

  .btn-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  svg {
    display: inline-block;
    all: inherit;
    width: 16px;
    height: 16px;
    margin: 0;
  }

  // TYPE

  &.btn-primary {
    background-color: $jungle-green;
    border: none;
    box-shadow: $medium-shadow;
    -webkit-box-shadow: $medium-shadow;
    color: $white;
    &:focus,
    &:hover {
      background-color: $mountain-meadow;
    }

    &:disabled,
    & button[disabled],
    &.disabled {
      background-color: $silver;
      border: 1px solid #cecece;
    }

    &.btn-outline {
      background-color: transparent;
      border: 1px solid $jungle-green;
      color: $jungle-green;

      &:focus,
      &:hover {
        background-color: transparent;
        border: 1px solid $mountain-meadow;
        color: $mountain-meadow;
      }

      &:disabled,
      & button[disabled],
      &.disabled {
        border: 1px solid #cecece !important;
        color: $silver !important;
      }
    }
  }

  &.btn-outline {
    color: $dusty-gray;
    border: 1px solid $alto;
    background-color: transparent;
    box-shadow: $medium-shadow;
    -webkit-box-shadow: $medium-shadow;

    &:disabled,
    & button[disabled],
    &.disabled {
      border: 1px solid #cecece !important;
      color: $silver !important;
    }
  }

  &.btn-destructive {
    background-color: $wuzzy-brown;
    border: none;
    color: $white;

    &:focus,
    &:hover {
      background-color: #b63f3f;
    }

    &:disabled,
    & button[disabled],
    &.disabled {
      background-color: $silver;
      border: 1px solid #cecece;
    }

    &.btn-outline {
      background-color: transparent;
      border: 1px solid $wuzzy-brown;
      color: $wuzzy-brown;

      &:focus,
      &:hover {
        background-color: transparent;
        border: 1px solid #b63f3f;
        color: #b63f3f;
      }
    }

    &.btn-border-none {
      border: none;
      background-color: transparent;
      box-shadow: none;
      color: $wuzzy-brown;

      &:focus,
      &:hover {
        background-color: transparent;
        border: none;
        color: #b63f3f;
      }
    }
  }

  &.btn-info {
    background-color: $java !important;
    border: none !important;
    box-shadow: $small-shadow;
    color: $white;
    padding: 8px;
    -webkit-box-shadow: $small-shadow;
  }

  &.btn-default {
    @include btn-disabled-basic-style;
    background-color: $white;
    box-shadow: $medium-shadow;
    border: none;
    color: $dusty-gray;
    -webkit-box-shadow: $medium-shadow;

    &:focus {
      background-color: $white;
    }
  }

  &.btn-link {
    @include btn-border-none;
    @include btn-disabled-basic-style;
    background-color: transparent;
    color: $jungle-green;

    &:hover {
      color: $java;
      font-weight: 600;
    }

    &:focus {
      background-color: transparent;
      color: $niagara;
      font-weight: 600;
    }
  }

  &.btn-border-none {
    @include btn-border-none;
    @include btn-disabled-basic-style;
  }

  // SIZE

  &.btn-small {
    font-size: 12px !important;
    height: 32px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    box-shadow: $small-shadow !important;
  }

  &.btn-large {
    font-size: 18px !important;
    height: 48px !important;
    box-shadow: $large-shadow !important;
  }

  &.btn-tight {
    min-width: 88px;
    box-shadow: $small-shadow !important;
  }

  // CONTENT

  &.btn-icon {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  // FIGURE
  &.btn-square {
    @include btn-figure;
    box-shadow: $x-large-shadow !important;
    height: 144px;
    padding-bottom: 24px;
    padding-top: 24px;
    width: 152px;
    &:hover,
    &:focus {
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1) !important;
      -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1) !important;
    }

    .icon,
    img,
    .img {
      max-height: 72px;
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }

  &.btn-square-small {
    @include btn-figure;
    box-shadow: $small-shadow;
    height: 32px !important;
    min-width: 32px;
    padding: 8px;
    width: 32px !important;
    -webkit-box-shadow: $small-shadow;
  }

  &.btn-rectangle {
    @include btn-figure;
    box-shadow: $x-large-shadow !important;
    height: 144px;
    padding-bottom: 24px;
    padding-top: 24px;
    width: 390px;

    @media screen and (max-width: 480px) {
      width: 100%;
    }

    &:hover,
    &:focus {
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1) !important;
      -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1) !important;
    }
  }
}
