// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@import "../abstracts/variables";

// BASE

.btn,
.epyc-btn {
  background-color: transparent;
  border-radius: 4px;
  color: var(--dusty-gray);
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  height: 48px;
  margin: 8px;
  min-width: 88px;
  text-align: center;
  padding: 0px 32px;
  outline: none;
  width: fit-content;

  &:hover,
  &:focus {
    box-shadow: var(--x-large-shadow);
    -webkit-box-shadow: var(--x-large-shadow);
  }

  &:disabled,
  & button[disabled],
  &.disabled {
    cursor: auto !important;
    pointer-events: none !important;
  }

  .btn-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  svg {
    display: inline-block;
    all: inherit;
    width: 16px;
    height: 16px;
    margin: 0;
  }

  // TYPE

  &.btn-primary {
    background-color: var(--jungle-green);
    border: none;
    box-shadow: var(--medium-shadow);
    -webkit-box-shadow: var(--medium-shadow);
    color: var(--white);
    &:focus,
    &:hover {
      background-color: var(--mountain-meadow);
    }

    &:disabled,
    & button[disabled],
    &.disabled {
      background-color: var(--silver);
      border: 1px solid #cecece;
    }

    &.btn-outline {
      background-color: transparent;
      border: 1px solid var(--jungle-green);
      color: var(--jungle-green);

      &:focus,
      &:hover {
        background-color: transparent;
        border: 1px solid var(--mountain-meadow);
        color: var(--mountain-meadow);
      }

      &:disabled,
      & button[disabled],
      &.disabled {
        border: 1px solid #cecece !important;
        color: var(--silver) !important;
      }
    }

    &.btn-border-none {
      border: none;
      background-color: transparent;
      box-shadow: none;
      color: var(--jungle-green);

      &:focus,
      &:hover {
        background-color: transparent;
        border: none;
        color: var(--mountain-meadow);
      }
    }
  }

  &.btn-outline {
    color: var(--dusty-gray);
    border: 1px solid var(--alto);
    background-color: transparent;
    box-shadow: var(--medium-shadow);
    -webkit-box-shadow: var(--medium-shadow);

    &:disabled,
    & button[disabled],
    &.disabled {
      border: 1px solid #cecece !important;
      color: var(--silver) !important;
    }
  }

  &.btn-destructive {
    background-color: var(--wuzzy-brown);
    border: none;
    color: var(--white);

    &:focus,
    &:hover {
      background-color: #b63f3f;
    }

    &:disabled,
    & button[disabled],
    &.disabled {
      background-color: var(--silver);
      border: 1px solid #cecece;
    }

    &.btn-outline {
      background-color: transparent;
      border: 1px solid var(--wuzzy-brown);
      color: var(--wuzzy-brown);

      &:focus,
      &:hover {
        background-color: transparent;
        border: 1px solid #b63f3f;
        color: #b63f3f;
      }
    }

    &.btn-border-none {
      border: none;
      background-color: transparent;
      box-shadow: none;
      color: var(--wuzzy-brown);

      &:focus,
      &:hover {
        background-color: transparent;
        border: none;
        color: #b63f3f;
      }
    }
  }

  &.btn-info {
    background-color: var(--java) !important;
    border: none !important;
    box-shadow: var(--small-shadow);
    color: var(--white);
    padding: 8px;
    -webkit-box-shadow: var(--small-shadow);
  }

  &.btn-default {
    @include btn-disabled-basic-style;
    background-color: var(--white);
    box-shadow: var(--medium-shadow);
    border: none;
    color: var(--dusty-gray);
    -webkit-box-shadow: var(--medium-shadow);

    &:focus {
      background-color: var(--white);
    }
  }

  &.btn-link {
    @include btn-border-none;
    @include btn-disabled-basic-style;
    background-color: transparent;
    color: var(--jungle-green);

    &:hover {
      color: var(--java);
      font-weight: 600;
    }

    &:focus {
      background-color: transparent;
      color: var(--niagara);
      font-weight: 600;
    }
  }

  &.btn-border-none {
    @include btn-border-none;
    @include btn-disabled-basic-style;
  }

  // SIZE

  &.btn-small {
    font-size: 12px !important;
    height: 32px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    box-shadow: var(--small-shadow) !important;
  }

  &.btn-large {
    font-size: 18px !important;
    height: 48px !important;
    box-shadow: var(--large-shadow) !important;
  }

  &.btn-tight {
    min-width: 88px;
    box-shadow: var(--small-shadow) !important;
  }

  // CONTENT

  &.btn-icon {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  // FIGURE
  &.btn-square {
    @include btn-figure;
    box-shadow: var(--x-large-shadow) !important;
    height: 144px;
    padding-bottom: 24px;
    padding-top: 24px;
    width: 152px;
    &:hover,
    &:focus {
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1) !important;
      -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1) !important;
    }

    .icon,
    img,
    .img {
      max-height: 72px;
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }

  &.btn-square-small {
    @include btn-figure;
    box-shadow: var(--small-shadow);
    height: 32px !important;
    min-width: 32px;
    padding: 8px;
    width: 32px !important;
    -webkit-box-shadow: var(--small-shadow);
  }

  &.btn-rectangle {
    @include btn-figure;
    box-shadow: var(--x-large-shadow) !important;
    height: 144px;
    padding-bottom: 24px;
    padding-top: 24px;
    width: 390px;

    @media screen and (max-width: 480px) {
      width: 100%;
    }

    &:hover,
    &:focus {
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1) !important;
      -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1) !important;
    }
  }
}
