.droptip,
.epyc-droptip {
  outline: none;
  width: 100%;

  &:hover {
    .droptip-trigger .droptip-title {
      color: $niagara;
    }
  }

  &.active {
    .droptip-trigger .droptip-title {
      &:after {
        color: $niagara;
        transform: rotate(180deg);
      }
    }

    .droptip-content {
      background-color: $albaster;
      display: block;
      padding: 16px;
      transition: 0.25s;
      -webkit-transition: 0.25s;
    }
  }

  .droptip-trigger {
    cursor: pointer;
    margin-bottom: 16px;
    margin-top: 0;
    width: fit-content;

    .droptip-title {
      color: $java;
      font-size: 16px;
      font-weight: 400;
      padding-right: 24px;
      display: flex;
      &:after,
      &:before {
        font-family: "epyicons" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 18px;
      }
      &:before {
        content: "\e95e";
        display: inherit;
        margin-right: 8px;
        color: $dusty-gray;
      }
      &:after {
        content: "\e912";
        display: inherit;
        margin-left: 8px;
      }
    }
  }

  .droptip-content {
    background-color: $albaster;
    display: none;
    color: $dove-gray;
    font-size: 12px;
    font-weight: 600;
    line-height: 19px;
    padding-bottom: 32px;
    padding-top: 32px;
    transition: 0.25s;
    -webkit-transition: 0.25s;
  }

  .droptip-large {
    .droptip-trigger {
      .droptip-title {
        width: 100%;
        display: flex;
        &:after {
          color: $niagara;
          margin-left: auto;
        }
      }
    }
  }
}
