@import "../abstracts/variables";

.input,
.epyc-input {



  .input-label {
    margin-right: 4px;
  }


  .input-helper {
    color: var(--dusty-gray);
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
  }

  &:not(.title-container) {
    .input-label, 
    .input-helper {
      margin-bottom: 8px;
    }
  }

  .title-container {
    margin-bottom: 8px;
    .input-label, 
    .input-helper {
      margin-bottom: 0;
    }
  }


  .input-container {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: space-between;
    position: relative;
    width: 100%;
    min-width: 104px;

    .input-text {
      background-color: transparent;
      border: none;
      color: var(--dove-gray);
      font-size: 16px;
      outline: none;
      padding: 16px;

      &::placeholder {
        color: var(--silver);
      }
    }

    input {
      height: 48px;
      width: 100%;
    }

    textarea {
      width: inherit;
    }

    i,
    .icon {
      height: 14px;
      position: absolute;
      width: 14px;
      color: var(--dusty-gray);
    }

    &.content-left {
      .input-text {
        padding-left: 40px;
      }

      i,
      .icon {
        left: 16px;
      }
    }

    &.content-right {
      .input-text {
        padding-right: 40px;
      }

      i,
      .icon {
        right: 16px;
      }
    }

    &.content-asides {
      .input-text {
        padding-left: 40px;
        padding-right: 40px;
      }
      .right {
        right: 16px;
      }

      .left {
        left: 16px;
      }

      .clean {
        cursor: pointer;
      }
    }

    &.unit-suffix {
      .unit,
      .suffix {
        position: absolute;
      }

      .input-text {
        text-align: right;
        padding-left: 40px;
        padding-right: 56px;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      input[type="number"] {
        -moz-appearance: textfield;
      }

      .unit {
        left: 16px;
        font-size: 16px;
        line-height: 20px;
      }
      .suffix {
        font-size: 12px;
        line-height: 15px;
        right: 16px;
        text-transform: uppercase;
      }
    }
  }

  &.validate {
    input:not([type]):focus:not([readonly]),
    input[type="date"]:not(.browser-default):focus:not([readonly]),
    input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
    input[type="datetime"]:not(.browser-default):focus:not([readonly]),
    input[type="email"]:not(.browser-default):focus:not([readonly]),
    input[type="number"]:not(.browser-default):focus:not([readonly]),
    input[type="password"]:not(.browser-default):focus:not([readonly]),
    input[type="search"]:not(.browser-default):focus:not([readonly]),
    input[type="tel"]:not(.browser-default):focus:not([readonly]),
    input[type="text"]:not(.browser-default):focus:not([readonly]),
    input[type="time"]:not(.browser-default):focus:not([readonly]),
    input[type="url"]:not(.browser-default):focus:not([readonly]),
    textarea.input-text:focus:not([readonly]) {
      border-bottom: 1px solid var(--jungle-green);
      box-shadow: 0 1px 0 0 var(--jungle-green);
      -webkit-box-shadow: 0 1px 0 0 var(--jungle-green);
    }

    input[type="date"]:invalid,
    input[type="datetime-local"]:invalid,
    input[type="datetime"]:invalid,
    input[type="email"]:invalid,
    input[type="email"]:required,
    input[type="number"]:invalid,
    input[type="password"]:invalid,
    input[type="search"]:invalid,
    input[type="tel"]:invalid,
    input[type="text"]:invalid,
    input[type="time"]:invalid,
    input[type="url"]:invalid,
    textarea:required:focus,
    .invalid {
      border-bottom: 1px solid var(--wuzzy-brown);
      box-shadow: 0 1px 0 0 var(--wuzzy-brown);
      -webkit-box-shadow: 0 1px 0 0 var(--wuzzy-brown);
    }

    textarea {
      resize: none;
      overflow: hidden;
    }
  }

  .input-aux-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    font-size: 12px;
    line-height: 15px;

    .number {
      color: var(--dove-gray);

      position: absolute;
      right: 0;
    }

    .helper-text {
      color: var(--wuzzy-brown);
    }
  }

  &.input-line {
    .input-label {
      color: var(--dove-gray);
      display: inline-block;
      font-size: 16px;
      line-height: 20px;
    }
    .input-container {
      background-color: var(--albaster) !important;
      border-radius: 4px 4px 0 0;

      input:not([type]),
      input[type="date"]:not(.browser-default),
      input[type="datetime-local"]:not(.browser-default),
      input[type="datetime"]:not(.browser-default),
      input[type="email"]:not(.browser-default),
      input[type="number"]:not(.browser-default),
      input[type="password"]:not(.browser-default),
      input[type="search"]:not(.browser-default),
      input[type="tel"]:not(.browser-default),
      input[type="text"]:not(.browser-default),
      input[type="time"]:not(.browser-default),
      input[type="url"]:not(.browser-default),
      textarea.input-text {
        border-bottom: 1px solid var(--dusty-gray);
      }

      .input-text {
        &:disabled,
        &input[disabled],
        &.disabled {
          background-color: var(--albaster);
          border-bottom: none !important;
          color: var(--silver);
          cursor: auto;
          pointer-events: none !important;
        }
      }
    }
  }

  &.input-outline {
    .input-label {
      color: var(--dusty-gray);
      display: inline-block;
      font-family: var(--aux-font);
      font-size: 10px;
    }
    .input-container {
      .input-text {
        border: 1px solid var(--silver);
        border-radius: 4px;

        &:disabled,
        &input[disabled],
        &.disabled {
          background-color: var(--albaster);
          color: var(--silver);
          cursor: auto;
          pointer-events: none !important;
        }
      }
    }
  }
}
