@import "../abstracts/variables";

.input,
input {
  background-color: transparent;
  border: none;
  color: $dove-gray;
  font-size: 16px;
  height: 40px;
  width: 100%;
  outline: none;

  &::placeholder {
    color: $silver;
  }

  .title-container {
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .normal-title {
      font-size: 14px;
    }
    
    .upper-title {
      text-transform: uppercase;
      color: $dusty-gray;
      font-size: 10px;
      font-family: $aux-font;
    }

    .helper {
      color: $dusty-gray;
      font-size: 14px;
      line-height: 18px;
      margin-left: 4px;
    }
  }
}

.input-outline {
  .input-wrapper {
    align-items: center;
    border: 1px solid $silver;
    border-radius: 5px;
    display: flex;
    height: 40px;
    justify-content: space-between;

    input {
      padding-right: 16px;
      padding-left: 16px;
    }

    .legend-error {
      color: $wuzzy-brown;
      font-size: 8px;
      display: none;
    }
  }

  &.validate {
    input[type="date"]:invalid,
    input[type="datetime-local"]:invalid,
    input[type="datetime"]:invalid,
    input[type="email"]:invalid,
    input[type="number"]:invalid input[type="password"]:invalid,
    input[type="search"]:invalid,
    input[type="tel"]:invalid,
    input[type="text"]:invalid,
    input[type="time"]:invalid,
    input[type="url"]:invalid,
    textarea.materialize-textarea,
    &.invalid {
        border-bottom: 1px solid $wuzzy-brown;
        border-radius: 4px;
        box-shadow: 0 1px 0 0 $wuzzy-brown;
        -webkit-box-shadow: 0 1px 0 0 $wuzzy-brown; 
    }

    &.invalid + .legend-error {
      display: block!important;
    }
  
    input:not([type]):focus:not([readonly]),
    input[type="date"]:not(.browser-default):focus:not([readonly]),
    input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
    input[type="datetime"]:not(.browser-default):focus:not([readonly]),
    input[type="email"]:not(.browser-default):focus:not([readonly]),
    input[type="number"]:not(.browser-default):focus:not([readonly]),
    input[type="password"]:not(.browser-default):focus:not([readonly]),
    input[type="search"]:not(.browser-default):focus:not([readonly]),
    input[type="tel"]:not(.browser-default):focus:not([readonly]),
    input[type="text"]:not(.browser-default):focus:not([readonly]),
    input[type="time"]:not(.browser-default):focus:not([readonly]),
    input[type="url"]:not(.browser-default):focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly])
    &.valid {
        border-bottom: 1px solid $jungle-green;
        border-radius: 4px;
        box-shadow: 0 1px 0 0 $jungle-green;
        -webkit-box-shadow: 0 1px 0 0 $jungle-green;
        
    }

  }
}

.input-line {
  .input-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;

    input {
      border: none;
      border-bottom: 1px solid $alto;
      border-radius: 0;
      box-shadow: none;
      box-sizing: content-box;
      height: 24px;
      line-height: normal;
      outline: none;
      padding-bottom: 4px;
      -webkit-box-shadow: none;
      -webkit-box-sizing: content-box;
    }

    input:not([type]),
    input[type="date"]:not(.browser-default),
    input[type="datetime-local"]:not(.browser-default),
    input[type="datetime"]:not(.browser-default),
    input[type="email"]:not(.browser-default),
    input[type="number"]:not(.browser-default),
    input[type="password"]:not(.browser-default),
    input[type="search"]:not(.browser-default),
    input[type="tel"]:not(.browser-default),
    input[type="text"]:not(.browser-default),
    input[type="time"]:not(.browser-default),
    input[type="url"]:not(.browser-default),
    textarea.materialize-textarea {
      border-bottom: 1px solid #d4d4d4;
    }

   
  }
  &.validate {
    input:not([type]):focus:not([readonly]),
    input[type="date"]:not(.browser-default):focus:not([readonly]),
    input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
    input[type="datetime"]:not(.browser-default):focus:not([readonly]),
    input[type="email"]:not(.browser-default):focus:not([readonly]),
    input[type="number"]:not(.browser-default):focus:not([readonly]),
    input[type="password"]:not(.browser-default):focus:not([readonly]),
    input[type="search"]:not(.browser-default):focus:not([readonly]),
    input[type="tel"]:not(.browser-default):focus:not([readonly]),
    input[type="text"]:not(.browser-default):focus:not([readonly]),
    input[type="time"]:not(.browser-default):focus:not([readonly]),
    input[type="url"]:not(.browser-default):focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) 
    &.valid {
      border-bottom: 1px solid $jungle-green;
      box-shadow: 0 1px 0 0 $jungle-green;
      -webkit-box-shadow: 0 1px 0 0 $jungle-green;
    }
  
    input[type="date"]:invalid,
    input[type="datetime-local"]:invalid,
    input[type="datetime"]:invalid,
    input[type="email"]:invalid,
    input[type="number"]:invalid input[type="password"]:invalid,
    input[type="search"]:invalid,
    input[type="tel"]:invalid,
    input[type="text"]:invalid,
    input[type="time"]:invalid,
    input[type="url"]:invalid,
    textarea.materialize-textarea,
    &.invalid  {
      border-bottom: 1px solid $wuzzy-brown;
      box-shadow: 0 1px 0 0 $wuzzy-brown;
      -webkit-box-shadow: 0 1px 0 0 $wuzzy-brown;
    }
  }

}

.input-icon {
  .input-wrapper {
    padding: 0 16px;
  }
  input {
    padding: 0!important
  }
}

