// BASE
// Nota: La clase sin el prefijo epy se va a eliminar

.select,
.epyc-select {
  width: 100%;
  .select-container {
    position: relative;

    .select-label {
      color: var(--dove-gray);
      display: inline-block;
      font-size: 16px;
      margin-right: 4px;

      &.upper {
        color: var(--dusty-gray);
        font-family: var(--aux-font);
        font-size: 10px;
        margin-bottom: 8px;
      }
    }

    .select-helper {
      color: var(--dusty-gray);
      font-size: 14px;
      line-height: 18px;
    }

    &:not(.title-container) {
      .select-label, 
      .select-helper {
        margin-bottom: 8px;
      }
    }

    .title-container {
      margin-bottom: 8px;
      .select-label, 
      .select-helper {
        margin-bottom: 0;
      }
    }
  
    .select-details {
      background-color: var(--white);
      border-radius: 4px;
      border-top: 0;
      box-shadow: var(--large-shadow);
      display: none;
      left: 0;
      opacity: 0;
      padding: 4px;
      pointer-events: none;
      right: 0;
      top: 100%;
      width: -webkit-fill-available;
      position: absolute;
      z-index: 2;
  
      .options-container {
        overflow-y: auto;
        max-height: 272px;
      }
  
      .option {
        border-bottom: 1px solid var(--albaster);
        position: relative;
        display: block;
        padding: 8px 16px;
        font-size: 16px;
        line-height: 20px;
        color: var(--dusty-gray);
        cursor: pointer;
        transition: all 0.5s;
        margin: 1px 0;
        text-align: left;
      }
      .option:hover {
        cursor: pointer;
        background-color: #ededed;
      }
      .option.selected {
        color: var(--white) !important;
        background-color: var(--silver);
      }
  
      .input {
        width: 98%;
        margin: 8px 1%;
      }
    }
  }

  &.active {
    .select-details {
      opacity: 1;
      display: block;
      pointer-events: all;
    }

    .arrow {
      transform: rotate(180deg);
      right: 0;
    }
  }

  // TRIGGER TYPE

  &.select-outline {
    .select-trigger {
      @include select-trigger(var(--jungle-green));
      background-color: transparent;
      border: 1px solid var(--silver);
      border-radius: 4px;
      box-shadow: none;
      padding: 0 16px;
      -webkit-box-shadow: none;
    }
  }

  &.select-line {
    .select-trigger {
      @include select-trigger(var(--jungle-green));
      border-bottom: 1px solid var(--dusty-gray);
      background-color: var(--albaster);
      border-radius: 4px 4px 0 0;
      box-shadow: none !important;
      height: 48px;
      padding: 16px;
      .arrow {
        margin-right: 0px !important;
        margin-left: 8px;
      }
    }

    .select-details {
      margin-top: -2.5px;
    }
  }

  &.select-border-none {
    .select-trigger {
      @include select-trigger(var(--jungle-green));
      box-shadow: none !important;
    }
  }

  // TRIGGER COLOR

  &.select-primary {
    .select-trigger {
      @include select-trigger(var(--white));
      background-color: var(--jungle-green);
      border: none;
      color: var(--white);
      border-radius: 4px;
      padding: 0 16px;

      &:focus,
      &:hover {
        background-color: var(--mountain-meadow);
      }
    }

    &.select-outline {
      .select-trigger {
        @include select-trigger(var(--jungle-green));
        background-color: transparent;
        border: 1px solid var(--jungle-green);
        color: var(--jungle-green);

        &:focus,
        &:hover {
          background-color: transparent;
          border: 1px solid var(--mountain-meadow);
          color: var(--mountain-meadow);
        }
      }
    }
  }

  // ACTIVE CLASS
  &.select-primary {
    &.active {
      .select-trigger {
        background-color: var(--mountain-meadow);
      }
    }
  }

  &.select-primary {
    &.select-outline {
      &.active {
        .select-trigger {
          background-color: transparent;
          border: 1px solid var(--mountain-meadow);
          color: var(--mountain-meadow);
        }
      }
    }
  }

  &.select-line,
  &.select-outline,
  &.select-border-none {
    &.active {
      .select-trigger {
        @include select-trigger("dark-green");
      }
    }
  }
}
