// BASE
// Nota: La clase sin el prefijo epy se va a eliminar

.select, .epyc-select {
  width: 100%;
  .select-container {
    position: relative;

    .title-container {
      display: flex;
      align-items: baseline;
    }

    .select-label {
      color: $dove-gray;
      display: inline-block;
      font-size: 16px;
      margin-bottom: 8px;

      &.upper {
        color: $dusty-gray;
        font-family: $aux-font;
        font-size: 10px;
        margin-bottom: 8px;
      }
    }
  }

  .select-helper {
    color: $dusty-gray;
    font-size: 14px;
    line-height: 18px;
    margin-left: 4px;
  }

  .select-details {
    background-color: $white;
    border-radius: 4px;
    border-top: 0;
    box-shadow: $large-shadow;
    display: none;
    left: 0;
    opacity: 0;
    padding: 4px;
    pointer-events: none;
    // position: absolute;
    right: 0;
    top: 100%;
    width: -webkit-fill-available;
    // transition: all 0.5s;
    // visibility: hidden;

    z-index: 2;

    .options-container {
      overflow-y: auto;
      max-height: 272px;
    }

    .option {
      border-bottom: 1px solid $albaster;
      position: relative;
      display: block;
      padding: 8px 16px;
      font-size: 16px;
      line-height: 20px;
      color: $dusty-gray;
      cursor: pointer;
      transition: all 0.5s;
      margin: 1px 0;
      text-align: left;
    }
    .option:hover {
      cursor: pointer;
      background-color: #ededed;
    }
    .option.selected {
      color: $white !important;
      background-color: $silver;
    }

    .input {
      width: 98%;
      margin: 8px 1%;
    }
  }
  &.active {
    .select-details {
      opacity: 1;
      // visibility: visible;
      display: block;
      pointer-events: all;
    }

    .arrow {
      transform: rotate(180deg);
      right: 0;
    }
  }
}

// TRIGGER TYPE

.select-outline {
  .select-trigger {
    @include select-trigger($jungle-green);
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 0 16px;
  }
}

.select-line {
  .select-trigger {
    @include select-trigger($jungle-green);
    border-bottom: 1px solid $dusty-gray;
    background-color: $albaster;
    border-radius: 4px 4px 0 0;
    box-shadow: none !important;
    height: 48px;
    padding: 16px;

    .select-value {
      // padding-left: 16px;
    }
    .arrow {
      margin-right: 0px !important;
      margin-left: 8px;
    }
  }

  .select-details {
    margin-top: -2.5px;
  }
}

.select-border-none {
  .select-trigger {
    @include select-trigger($jungle-green);
    box-shadow: none !important;
  }
}

// TRIGGER COLOR

.select-primary {
  .select-trigger {
    @include select-trigger($white);
    background-color: $jungle-green;
    border: none;
    color: $white;
    border-radius: 4px;
    padding: 0 16px;

    &:focus,
    &:hover {
      background-color: $mountain-meadow;
    }
  }

  &.select-outline {
    .select-trigger {
      @include select-trigger($jungle-green);
      background-color: transparent;
      border: 1px solid $jungle-green;
      color: $jungle-green;

      &:focus,
      &:hover {
        background-color: transparent;
        border: 1px solid $mountain-meadow;
        color: $mountain-meadow;
      }
    }
  }
}

// ACTIVE CLASS
.select-primary {
  &.active {
    .select-trigger {
      background-color: $mountain-meadow;
    }
  }
}

.select-primary {
  &.select-outline {
    &.active {
      .select-trigger {
        background-color: transparent;
        border: 1px solid $mountain-meadow;
        color: $mountain-meadow;
      }
    }
  }
}

.select-line,
.select-outline,
.select-border-none {
  &.active {
    .select-trigger {
      @include select-trigger("dark-green");
    }
  }
}
