// Nota: La clase sin el prefijo epy se va a eliminar

.tooltip,
.epyc-tooltip {
  outline: none;
  position: relative;
  width: 100%;

  .tooltip-trigger {
    cursor: pointer;
    position: relative;
    width: fit-content;
  }

  .tooltip-content {
    background-color: $dusty-gray;
    border-radius: 4px;
    box-shadow: $medium-shadow;
    color: $white;
    display: block;
    // margin: 0 !important;
    padding: 4px 16px;
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s;
    visibility: hidden;
    // width: fit-content !important;
    width: max-content;
    z-index: 100;
  }

  &.active {
    .tooltip-content {
      opacity: 1;
      visibility: visible;
    }
  }
}
