// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------
.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align {
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

.justify-align {
  text-align: justify;
}

.hidden {
  display: none !important;
}
