/**
 * Basic typography style for copy text
 */

@import "../abstracts/variables";

body {
  font-family: $main-font;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dove-gray;
  font-family: $aux-font;
  font-weight: 600;
  line-height: 24px;
}

.page-title {
  color: $dove-gray;
  font-family: $aux-font;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.title {
  color: $dune;
  font-family: $aux-font;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.text-regular {
  color: $dusty-gray;
  font-size: 16px;
  line-height: 20px;
}

.text-suggest {
  color: $silver;
  font-size: 16px;
  line-height: 20px;
}

.text-small {
  font-size: 12px;
  line-height: 16px;
}

.text-danger {
  @extend .text-small;
  color: $wuzzy-brown !important;
}

.text-primary{
  color: $klein-blue
}

.text-green {
  color: $epy-green !important;
}

.text-blue {
  color: $blue-ribbon !important;
}

.text-red {
  color: $wuzzy-brown !important;
}

.text-yellow {
  color: $bus-yellow !important;
}

.text-light-green {
  color: $yellow-green !important;
}

.text-lavander {
  color: $lavander !important;
}

.text-purple {
  color: $royal-purple !important;
}

.text-white {
  color: $white !important;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $main-font;
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.field-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // margin-right: 70px;
}

.field {
  line-height: 19px;

  &.upper {
    color: $dusty-gray;
    font-size: 10px;
    font-family: $aux-font;
  }
}
