/**
 * Basic typography style for copy text
 */


body {
  font-family: var(--main-font);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dove-gray);
  font-family: var(--aux-font);
  font-weight: 600;
  line-height: 24px;
}

.page-title {
  color: var(--dove-gray);
  font-family: var(--aux-font);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.title {
  color: var(--dune);
  font-family: var(--aux-font);
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.text-regular {
  color: var(--dusty-gray);
  font-size: 16px;
  line-height: 20px;
}

.text-suggest {
  color: var(--silver);
  font-size: 16px;
  line-height: 20px;
}

.text-small {
  font-size: 12px;
  line-height: 16px;
}

.text-danger {
  @extend .text-small;
  color: var(--wuzzy-brown) !important;
}

.text-green {
  color: var(--jungle-green) !important;
}

.text-blue {
  color: var(--java) !important;
}

.text-red {
  color: var(--wuzzy-brown) !important;
}

.text-yellow {
  color: var(--bus-yellow) !important;
}

.text-light-green {
  color: var(--yellow-green) !important;
}

.text-lavander {
  color: var(--lavander) !important;
}

.text-purple {
  color: var(--royal-purple) !important;
}

.text-white {
  color: var(--white) !important;
}

button,
input,
optgroup,
select,
textarea {
  font-family: var(--main-font);
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.field-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // margin-right: 70px;
}

.field {
  line-height: 19px;

  &.upper {
    color: var(--dusty-gray);
    font-size: 10px;
    font-family: var(--aux-font);
  }
}
