// // -----------------------------------------------------------------------------
// // This file contains all application-wide Sass variables.
// // -----------------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

// Fonts
$main-font: "Source Sans Pro";
$aux-font: "Open Sans";

$jungle-green: #26c580;
$java: #22b5b5;
$scooter: #29bbc6;
$sherpa-blue: #003e52;
$dune: #2e2a25;
$yellow-green: #b8e986;
$bus-yellow: #ffde03;
$wuzzy-brown: #c55757;
$lavander: #bb6ad4;
$royal-purple: #8336b0;
$dove-gray: #717171;
$dusty-gray: #9b9b9b;
$silver: #c7c7c7;
$alto: #d4d4d4;
$seashell: #f1f1f1;
$albaster: #f7f7f7;
$white: #ffffff;
